body{
    background: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 10px;
}

#status {
    font-size: 18px;
}

canvas {
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
}